@charset "utf-8";
/* CSS Document */


#container {
  width: 1000px;
  height: 1000px;	
  border: solid green;
}


#container div {
  float: left;
  height: 500px;
  width: 500px;
}

#leftBox div{

float:left;
height: 250px;
width: 250px;
}

#rightBox div{

float:left;
height: 250px;
width: 250px;
}

#bottomLeftBox div{

float:left;
height: 250px;
width: 250px;
}

#bottomRightBox div{

float:left;
height: 250px;
width: 250px;
}

#imageSelect{
	float:left;
	height: 1100px;
	width: 270px;
	border: solid red;
}

#imageSelect1{
	float:left;
	height: 250px;
	width: 250px;
}

#imageSelect2{
	float:left;
	height: 250px;
	width: 250px;
}

#imageSelect3{
	float:left;
	height: 250px;
	width: 250px;
}

#imageSelect4{
	float:left;
	height: 250px;
	width: 250px;
}