@charset "utf-8";
/*@import url("reset.css");*/

body {
    background:#fff url(../images/body_bg.gif) repeat-x;
	color:#686886; 
	font-size:1.2em; 
	font-family:"Droid Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:90%;
	padding-top:-20px; 
	padding-left:5%; 
	margin-top: auto; 
	margin-bottom: auto;
	overflow-x:hidden;
}


table {
font-size:1em;
}
// below code allows for creation of border around table row:
table{border-collapse:separate; border-spacing:0px;}
tr{
border-style:solid;
border-width:2px 0;
border-color:#4d982b;
border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

tr.webexercise td{
border-width:2px 0;
border-style:solid;
border-color:#4d982b;
/*border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}
tr.webexercise td.left{
border-width:2px 0 2px 2px;
/*border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right:-2em;
width:3em;
}
tr.webexercise td.right{
border-width:2px 2px 2px 0;
/*border-radius: 0 5px 5px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}


.mainPage {
padding-left:0.5em;
}

.mainPage h1{
font-size: 1.5em;
font-weight:bold;
}

.mainPage #appTitle {
clear:both;
float: left; 
color: #1A4C97;
font-weight: bold; 
font-size: 1.5em; 
padding-top: 1em;
padding-left: 1em;
}
.mainPage ul {list-style:none; }
.mainPage li{line-height:120%; text-indent: -.08em; margin-top:.5em; margin-right:10%;}
.mainPage a .num{ position: absolute; z-index:0; font-size:80px; width:100%; text-align:center; color:#fff; font-weight:bold; top:10px; display:block; left:0;}
.mainPage a:hover .num{ opacity:0.25;}
.mainPage a .txt{ position: relative; z-index:2;}
.mainPage a{ 
 width:100%; 
 height:auto;
 text-align:left; 
 padding-top: .5em;
 padding-bottom: .5em;
 padding-left: 5%;
 border-bottom:none;
 color:#1A4C97; 
 font-weight:bold; 
 font-size:1.2em;
 /*border:solid 2px #719fce;*/
 display:block;
 border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 
 /* For WebKit (Safari, Google Chrome etc) */
		background: -webkit-gradient(linear, left top, right top, from(#e2f2fd), to(#9eceff), color-stop(0.9, #9eceff));
		/* For Mozilla/Gecko (Firefox etc) */
		background: -moz-linear-gradient(left top, #e2f2fd, #9eceff 90%);
		/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e2f2fd, endColorStr=#9eceff, GradientType=1);
		/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF, GradientType=1)";
		
}

.exerciseButton {  
 height:auto;
 text-align:left;
 margin:1em 0;

 padding-top: .5em;
 padding-bottom: 1.5em;
 padding-left: 5%;
 padding-right: 5%;
 border:none;
 color:#1A4C97; 
 font-weight:bold; 
 font-size:1.2em;
 /*border:solid 2px #719fce;*/
 display:block;
 border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 
 /* For WebKit (Safari, Google Chrome etc) */
		background: -webkit-gradient(linear, left top, right top, from(#e2f2fd), to(#9eceff), color-stop(0.9, #9eceff));
		/* For Mozilla/Gecko (Firefox etc) */
		background: -moz-linear-gradient(left top, #e2f2fd, #9eceff 90%);
		/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e2f2fd, endColorStr=#9eceff, GradientType=1);
		/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF, GradientType=1)";
		
}

#module_list a{
width:100%; 
/*padding-bottom: 0;*/
padding: 5px 0;
padding-left: 5%;
margin-right:10%;
text-align:left;
color:#1A4C97;
}

#module_list li {

}

.exercisePage {
	position:relative; 
	overflow-y: scroll; 
	padding-left: .5em;
	clear:both;
}
.exercisePage ul {

   word-wrap: break-word;      /* IE */
   padding-bottom: 1em;

}
.exercisePage li{line-height:1em; padding: 0; margin-top:1em; margin-right:5%;}
.exercisePage h1{
font-size: 1.5em;
font-weight:bold;
}

.textPage {
position:relative; 
overflow-y: scroll; 
padding-left: .5em;
clear:both;
}
.textPage ul {

   word-wrap: break-word;      /* IE */
   padding-bottom: 1em;

}
.textPage li{line-height:1em; padding: 0; margin-top:1em; margin-right:5%;}
.textPage h1{
font-size: 1.5em;
font-weight:bold;
}
 
.chapterOverview
{ 
position:relative; 
overflow-y: scroll; 
font-size: 1em; 
padding:0 2.5% 0 .5em;
list-style: circ inside;
clear:both;
}
.chapterOverview ul {
word-wrap: break-word;      /* IE */
 	padding-top: .1em;
 	margin-top: 0.8em;
   	margin-bottom: 0.8em;
	padding-bottom: 1em;
	border: 2px solid #1A4C97;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	color:#1A4C97;

} 
.chapterOverview li{line-height:1em; margin-top:1em; margin-right:5%; padding-left: 0.2em; padding-right: 0.2em;}
.chapterOverview h1 {color:#1A4C97; font-size: 1.5em; font-weight:bold;}


#exercise {
padding: 1em 1em 1em 1em;
}

#footer {
width:100%; 
margin-top: 1em; 
height: 5px; 
background:#fff url(./images/body_bg.gif) repeat-x; 
bottom:0;
}

















* { 
margin: 0; 
} 
html, body { 
height: 100%; 
} 
.wrapper { 
min-height: 100%; 
height: auto !important; 
height: 100%; 
margin: 0 auto -4em; 
} 
.footer, .push { 
height: 4em; 
} 



.rating_bar {
  
  /*margin: 0 auto;*/	
  width: 80px;
  height: 16px;
  background: url(../images/star_grey.png) 0 0 repeat-x;
  
}

.rating_bar div {
  height: 16px;
  background: url(../images/star.png) 0 0 repeat-x;
}

.progressBar {

  width: 200px;
  height: 20px;
  background: url(../images/progressBarDark.jpg) 0 0 no-repeat;
	/*height: 20px;*/ /*Specify Height*/
	/*width:  240px;*/ /*Specify Width*/
	/*border: 1px solid black;*/ /*Add 1px solid border, use any color you want*/
	/*background-color: #F1EEEE;*/ /*Add a background color to the box*/
	/*-webkit-border-radius: 5px;*/
}



.progressBar div {
  height: 20px;
  background: url(../images/progressBar.jpg) 0 0 no-repeat;
}

.text_content {
width:95%;
margin:0 2.5% 0 2.5%;
overflow-x: visible;
list-style:disc;

}


ul{ padding:0 -5%; list-style:disc;}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}



input.checkbox{ 
display: block;
float: left;
width: 2em; 
height: 2em; 
}

.pageXofY{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left:0.5em; 
	font-size:0.8em;
	float:right;
	
}

div, img{behavior: url(iepngfix.htc);}
p{ margin:1em 0 20px; clear: both;}
h1, h2, h3{ margin:0 0 20px; clear: both; color:#4d982b;}


tbody {position: relative; border: 1px solid #4d982b; padding-left:0.5em;}

.weblink {
border: 2px solid #4d982b;
border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
color:#4d982b; 
padding: 1em 1em 1em 1em; 
margin-bottom:1em;
}

#exercise {
margin-top:1em;
margin-bottom:1em;
border: 2px solid #4d982b;
border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
color:#4d982b; 
padding: 1em 1em 1em 1em;
}

.chapter_heading {color:#1A4C97; clear:both; font-weight:bold; float:left; padding-left: .5em;}

strong{ font-weight:bold;}
em{ font-style:italic;}

a{font-weight: bold; text-decoration: none; color:#686886; border-bottom:dotted 1px;}

a:hover{ text-decoration:none; border-bottom:dotted 1px #d1e3c7;}
h1 a {color:#4d982b;}


#click{ #4d982b; text-decoration:none; border-bottom:dotted 1px #4d982b;}



.radii{ padding:20px;
	background: #ccc;
   border-radius: 4px 4px 0 0;
   -moz-border-radius-topleft: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-top-right-radius: 4px;

   box-shadow: #666 0px 1px 10px;
   -moz-box-shadow: #666 0px 0px 10px;
   -webkit-box-shadow: #666 1px 1px 10px;


}

.wrapper{ margin:0 auto; width:100%;}

#header, #content, #footer{ clear:both;}
#header a{border-bottom:none; font-weight:normal; color: #1A4C97;} 
#header{ padding-top:5px;}
#header{z-index:0;}
#content{ padding-top:-20px; padding-left:5%; width:95%; margin-top: auto; margin-bottom: auto;}
.logo{float:left; overflow:hidden; margin: auto 0;}
.logo a{ display:block; text-indent:-9999em; height:80px; float:left;}

.top-right{
	width:auto; 
	float:right;
	font-size:10px; 
	color:#000;
	padding: .5em .1em;
	position:absolute; 
	right:0px; 
	top:0px; 
	list-style:none
}
.top-right li{ float:left; padding-left:6px;}
.top-right a{border-bottom:none;}


.page_title {
position: absolute;
	margin-top:5px;
	width: 90%; 
	text-align: center; 
	font-size: 1.5em; 
	color: #1A4C97;
}

.welcome{ float:left; padding-top:10px; font-weight:bold;}
.top_buttons{
	width:114px; height:20px; padding:8px 0px; text-align:center; float:right; background:url(../images/bg_tpbox.png) no-repeat; margin-left:10px; color:#686868;
}
a.grey{ color:#686868; text-decoration:none;}
a.grey:hover{ color:#000; text-decoration:none;}

img{ vertical-align:center; border:0;}
.pad1{ padding:10px;}

#content h1{ font-weight:bold; font-size:1.5em;}
#content h2{ font-weight:bold; font-size:1.25em;}
#content h3{ font-weight:bold; font-size:1.1em;}




#arrow_menu{ padding:0; width:100%; float:left; border:solid 1px red;}
#arrow_menu ul{width:auto; margin:0 auto; list-style:none; padding-top:40px; }
#arrow_menu li{ padding:0 0 0 10px; display:inline;}
#arrow_menu a{
	padding:40px;
	width:80px;
	text-align:center; 
	font-size:25px; 
	color:#38627c; 
	text-decoration:none; 

	border:solid 2px #719fce;
	/*background: url(../images/bg_btn.gif) repeat-y -1px 0;*/
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	/* For WebKit (Safari, Google Chrome etc) */
		background: -webkit-gradient(linear, left top, right top, from(#e2f2fd), to(#9eceff), color-stop(0.9, #9eceff));
		/* For Mozilla/Gecko (Firefox etc) */
		background: -moz-linear-gradient(left top, #e2f2fd, #9eceff 90%);
		/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e2f2fd, endColorStr=#9eceff, GradientType=1);
		/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF, GradientType=1)";
		
}
#arrow_menu a:hover{ color:#fff;}



.alert_icon{ position:absolute; top:20px; left:20px;}



