@charset "utf-8";
/* CSS Document */

#container {
  width: 525px;
  height: 1050px;	
  border: solid green;
  border-width: 3px;
}


.quad {
  float: left;
  height: 518px;
  width: 518px;
  border: solid red;
  border-width: 3px;
}

.inner {
	float: left;
	height: 252px;
	width: 252px;
	border: solid black;
	border-width: 3px;
}

.longBox {
float: left;
border: blue;
width: 1080px;
height: 260px;
border-width: 3px;
}